    * {
        margin: 0;
        padding: 0;
    }
    
    html {
        scroll-behavior: smooth;
        scroll-snap-align: 340px;
    }
    
    body {
        background-color: rgba(0, 0, 0, 0);
    }
    
    body::-webkit-scrollbar {
        width: 5px;
    }
    
    body::-webkit-scrollbar-thumb {
        background: #ffffff;
        border-radius: 10px;
        height: 5px;
    }
    
    body::-webkit-scrollbar-track-piece {
        height: 50px;
        background: #06283D;
    }
    
    .txt-name {
        font-size: 3rem;
    }
    
    .nam-div {
        border-right: 1px solid #f5f5c59f;
    }
    
    .hobbi {
        width: 80%;
        margin-left: 10%;
        margin-top: 3%;
        border-radius: 2%;
        margin-bottom: 1%;
        border-radius: 5%;
        box-shadow: 0px 25px #00000056;
    }
    
    .txt-hobbies {
        margin-top: 2%;
        margin-bottom: 3%;
    }
    
    .nav {
        background: #06283D;
        top: 0%;
        left: 0%;
        z-index: 1;
    }
    
    .des {
        align-self: center;
        font-size: 1.5rem;
        background-color: #ffffff1f;
        backdrop-filter: blur(120px);
    }
    
    .mainpage {
        padding-top: 8%;
        padding-left: 0%;
        padding-right: 0%;
    }
    
    .main {
        min-height: 100vh;
        width: 100%;
        justify-items: end;
        background-image: linear-gradient(45deg, #47B5FF, #00226b);
        overflow: none;
    }
    
    .pp {
        position: relative;
        border-radius: 100%;
        box-shadow: 15px 5px rgba(255, 255, 255, 0.253);
        background-image: radial-gradient(circle at 20% 2%, transparent 50%, #06283D 50%);
        height: 50%;
        width: 50%;
        left: 25%;
        margin-bottom: 1%;
        top: 8%;
    }
    
    .min-pp {
        display: none;
    }
    
    .about {
        background-image: linear-gradient(45deg, #DFF6FF, #DFF6FF);
    }
    
    .projectbtn {
        margin-left: 50%;
        padding: 5px;
        margin-bottom: 1px;
        border-radius: 25px;
        background-image: linear-gradient(45deg, #47B5FF, #00226b);
        border: rgba(17, 0, 252, 0.555) solid 1px;
        box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.342);
        outline: none;
    }
    
    .projectbtn a {
        font-weight: 400;
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
    
    .projectbtn:hover {
        transition: .2s;
        background-image: linear-gradient(45deg, #00226b, #47B5FF);
        box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.342);
    }
    
    .b1 {
        border: 1px solid none;
        height: 6px;
        width: 8px;
        border-radius: 50% 33% 50% 33%/50% 30% 50% 30%;
        background-color: blanchedalmond;
        position: absolute;
    }
    
    .box div:nth-child(1) {
        top: 25%;
        left: 50%;
        animation: animate 5s linear infinite;
    }
    
    .box div:nth-child(2) {
        top: 50%;
        left: 25%;
        animation: animate 10s linear infinite;
    }
    
    .box div:nth-child(3) {
        top: 5%;
        left: 50%;
        animation: animate 8s linear infinite;
    }
    
    .box div:nth-child(4) {
        top: 5%;
        left: 5%;
        animation: animate 15s linear infinite;
    }
    
    .box div:nth-child(5) {
        top: 5%;
        left: 10%;
        animation: animate 3s linear infinite;
    }
    
    .box div:nth-child(6) {
        top: 5%;
        left: 95%;
        animation: animate 8s linear infinite;
    }
    
    .box div:nth-child(7) {
        top: 5%;
        left: 35%;
        animation: animate 13s linear infinite;
    }
    
    .box div:nth-child(8) {
        top: 0%;
        left: 85%;
        animation: animate 9s linear infinite;
    }
    
    .box div:nth-child(9) {
        top: 0%;
        left: 25%;
        animation: animate 20s linear infinite;
    }
    
    .box div:nth-child(10) {
        top: 10%;
        left: 65%;
        animation: animate 15s linear infinite;
    }
    
    @keyframes animate {
        0% {
            transform: scale(0) translate3d(0, 0, 0) rotate(360deg);
            opacity: 1;
        }
        100% {
            transform: scale(3.5)translate3d(-90px, 90px, 0) rotate(0deg);
            opacity: 0;
        }
    }
    
    .pageheder {
        color: #06283D;
        text-align: center;
        margin-top: 3%;
    }
    
    h5 {
        margin: 15px 5px 2px;
        text-transform: uppercase;
        color: #06283D;
    }
    
    .skills {
        position: relative;
        width: 100%;
        display: inline-block;
    }
    
    .progres {
        border: 1px solid #06283D;
        border-radius: 10px;
        width: 90%;
        height: 20px;
        text-align: center;
        color: blue;
        overflow: hidden;
        background-color: transparent;
    }
    
    .persent {
        text-align: right;
        padding-right: 10px;
        height: 100%;
        width: 100px;
        color: #06283D;
        border-right: 1px solid #06283D;
        animation: skill-animate 25s linear infinite;
        background-image: repeating-linear-gradient( 45deg, transparent, #47B5FF);
    }
    
    @keyframes skill-animate {
        0% {
            background-position: 0;
        }
        100% {
            background-position: 200vh;
        }
    }
    
    .skill-exp {
        color: #06283D;
        overflow: hidden;
        z-index: 3;
    }
    
    svg {
        background-color: #DFF6FF;
        width: 100%;
    }
    
    #foot {
        background-color: #06283d;
        width: 100%;
        color: #ffffff;
        overflow: hidden;
    }
    
    .contact-me {
        margin-top: 20%;
        text-align: center;
    }
    
    .listBox {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
        justify-content: space-between;
    }
    
    .foot-icon {
        list-style: none;
        font-size: 2rem;
    }
    
    @media (max-width: 990px) {
        .min-pp {
            display: block;
            position: relative;
        }
        .max-pp {
            display: none;
        }
        .nam-div {
            border: none;
        }
        .foot-icon {
            font-size: 2rem;
            margin-left: 10px;
        }
        #conImage {
            display: none;
            width: 100%;
            border-radius: 45% 55% 40% 60% / 39% 33% 67% 61%;
        }
        .listBox {
            width: 60%;
            margin-left: 20%;
            margin-right: 20%;
        }
    }
    
    @media (max-width: 396px) {
        .txt-name {
            font-size: 2.1rem;
        }
    }
    
    .copy {
        text-align: end;
        margin-bottom: 2px;
    }
    
    form {
        width: 40%;
        background-color: transparent;
        height: max-content;
        border-radius: 5px;
        padding: 20px;
    }
    
    div.form-item {
        position: relative;
        display: block;
        margin-left: 13%;
        margin-bottom: 20px;
    }
    
    input {
        transition: all 0.2s ease;
    }
    
    .form-style {
        color: #8a8a8a;
        display: block;
        width: 75%;
        height: 44px;
        padding: 5px 2%;
        border: 1px solid #ccc;
        -moz-border-radius: 27px;
        -webkit-border-radius: 27px;
        border-radius: 27px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        background-color: rgba(255, 255, 255, 0);
        font-family: "HelveticaNeue", "Arial", sans-serif;
        font-size: 105%;
        letter-spacing: 0.8px;
    }
    
    div.form-item .form-style:focus {
        outline: none;
        border: 1px solid #58bff6;
        color: #58bff6;
    }
    
    div.form-item p.formLabel {
        position: absolute;
        left: 26px;
        top: 2%;
        transition: all 0.4s ease;
        color: rgba(187, 187, 187, 0.726);
    }
    
    .formTop {
        top: -20% !important;
        left: 26px;
        background-color: #06283D;
        border-radius: 10% 10% 89% 78% / 10% 10% 50% 50%;
        padding: 0 5px;
        font-size: 14px;
        color: #58bff6 !important;
    }
    
    .formStatus {
        color: #8a8a8a !important;
    }
    
    input[type="submit"].login {
        width: 112px;
        height: 37px;
        margin-left: 20%;
        -moz-border-radius: 19px;
        -webkit-border-radius: 19px;
        border-radius: 19px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        background-color: #55b1df;
        border: 1px solid #55b1df;
        border: none;
        color: #fff;
        font-weight: bold;
    }
    
    input[type="submit"].login:hover {
        background-color: #fff;
        border: 1px solid #55b1df;
        color: #55b1df;
        cursor: pointer;
    }
    
    input[type="submit"].login:focus {
        outline: none;
    }
    
    textarea {
        height: 100vh;
    }
    
    #conImage {
        width: 100%;
        border-radius: 45% 55% 40% 60% / 39% 33% 67% 61%;
    }